In [2]:
import pandas as pd
import numpy as np
data = {'name': ['satya', 'kiran', 'sk'],
    'age': [45, 23, 34],
    'city': ['hyderabad', 'bangalore', 'chennai']}
df = pd.DataFrame(data)
print(df)

    name  age       city
0  satya   45  hyderabad
1  kiran   23  bangalore
2     sk   34    chennai

In [4]:
import pandas as pd
data=[{'age': 45, 'name': 'satya', 'city': 'hyderabad'},
        {'age': 23, 'name': 'kiran', 'city': 'bangalore'},
        {'age': 34, 'name': 'sk', 'city': 'chennai'}]
df = pd.DataFrame(data)
print(df)
print(df.loc[0,'name'])
print(df.iloc[0,1])

   age   name       city
0   45  satya  hyderabad
1   23  kiran  bangalore
2   34     sk    chennai
satya
satya

In [7]:
import pandas as pd
data=[{'age': 45, 'name': 'satya', 'city': 'hyderabad'},
        {'age': 23, 'name': 'kiran', 'city': 'bangalore'},
        {'age': 34, 'name': 'sk', 'city': 'chennai'}]
df = pd.DataFrame(data)
print(df)
print('====='*20)
df.loc[0,'name'] = 'satyam'
df.loc[0,'age'] = 50
print(df)

   age   name       city
0   45  satya  hyderabad
1   23  kiran  bangalore
2   34     sk    chennai
====================================================================================================
   age    name       city
0   50  satyam  hyderabad
1   23   kiran  bangalore
2   34      sk    chennai

In [8]:
import pandas as pd
data=[{'age': 45, 'name': 'satya', 'city': 'hyderabad'},
        {'age': 23, 'name': 'kiran', 'city': 'bangalore'},
        {'age': 34, 'name': 'sk', 'city': 'chennai'}]
df = pd.DataFrame(data)
print(df.info())
print(df.describe())
print(df.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     3 non-null      int64
 1   name    3 non-null      object
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
        age
count   3.0
mean   34.0
std    11.0
min    23.0
25%    28.5
50%    34.0
75%    39.5
max    45.0
   age   name       city
0   45  satya  hyderabad
1   23  kiran  bangalore