In [2]:
import pandas as pd
import numpy as np
data = {'name': ['satya', 'kiran', 'sk'],
    'age': [45, 23, 34],
    'city': ['hyderabad', 'bangalore', 'chennai']}
df = pd.DataFrame(data)
print(df)

    name  age       city
0  satya   45  hyderabad
1  kiran   23  bangalore
2     sk   34    chennai

In [4]:
import pandas as pd
data=[{'age': 45, 'name': 'satya', 'city': 'hyderabad'},
        {'age': 23, 'name': 'kiran', 'city': 'bangalore'},
        {'age': 34, 'name': 'sk', 'city': 'chennai'}]
df = pd.DataFrame(data)
print(df)
print(df.loc[0,'name'])
print(df.iloc[0,1])

   age   name       city
0   45  satya  hyderabad
1   23  kiran  bangalore
2   34     sk    chennai
satya
satya

In [ ]:
import pandas as pd
data=[{'age': 45, 'name': 'satya', 'city': 'hyderabad'},
        {'age': 23, 'name': 'kiran', 'city': 'bangalore'},
        {'age': 34, 'name': 'sk', 'city': 'chennai'}]
df = pd.DataFrame(data)
print(df)
print('====='*20)
df.loc[0,'name'] = 'satyam'
df.loc[0,'age'] = 50
print(df)

   age   name       city
0   45  satya  hyderabad
1   23  kiran  bangalore
2   34     sk    chennai
   age    name       city
0   50  satyam  hyderabad
1   23   kiran  bangalore
2   34      sk    chennai